PORT=8000
DATABASE_URL=
TURSO_DATABASE_URL=libsql://tu-base-tu-usuario.turso.io
TURSO_AUTH_TOKEN=
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ktm_motos
JWT_SECRET=una_clave_secreta_larga_y_dificil_de_adivinar
FRONTEND_URL=http://localhost:5173
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_clave_de_aplicacion_de_16_letras
IVA_PORCENTAJE=0.19
